body,
html {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #333;
}

header {
  background: url("/static/images/poolside-bg.jpg") #5fffe0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  top: 0;
  position: absolute;
  width: 100%;
  height: 120px;
}

#subheader {
  margin-top: -14px;
}

.patrick-hand {
  font-family: "Patrick Hand", sans-serif;
}

table {
  width: 100%;
}

.token-name-inner {
  min-height: 40px;
}

th.name,
td.name {
  max-width: 200px;
  word-wrap: break-word;
}

th.description,
td.description {
  max-width: 250px;
  word-wrap: break-word;
}

td.description .token-description-detailed,
td.description .token-description-summary {
  cursor: pointer;
}

.token-info p,
th.category,
td.category {
  max-width: 120px;
  word-wrap: break-word;
}

td.description .token-description-detailed, td.description .token-description-summary{
  cursor: pointer;
}

.token-detail-description {
  margin-top: 3%;
}

.token-detail-links {
  margin-top: 3%
}

.token-tag-badge{
    cursor: pointer;
}

.token-info p{
  margin-top: 3px;
}

th.volume,
td.volume {
  max-width: 120px;
  word-wrap: break-word;
}

td.volume {
  font-size: 12px;
  padding: 0px 10px;
}

th.price,
td.price {
  max-width: 100px;
  word-wrap: break-word;
}

td.price {
  font-size: 12px;
  padding: 0 5px;
  text-align: center;
}

th.trades,
td.trades {
  max-width: 140px;
  word-wrap: break-word;
}

img.token-logo {
  float: left;
  margin-right: 5px;
  margin-bottom: -4px;
  margin-top: 1px;
  width: 20%;
}

.token-audit {
  font-size: 0.8em;
}

.token-audit-item {
  margin-top: 2px;
}
.token-audit-item:first-child {
  margin-top: 8px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu ul,
.dropdown-menu li,
.dropdown-menu li a {
  z-index: 1000;
  position: relative;
}

.token-details {
  width: 80%;
  margin-left: 5%;
  color: white;
}

.token-get-quote {
  color: white;
  margin-top: 3%;
  padding: 15px;
  border-radius: 15px;
}

.new-listings-inner {
  position: relative;
}

.new-listing-header{
  height: 40px;
}

.new-listing-warning{
  font-size: 13px;
}

.pagination {
  padding: 10px;
}

li.page-item {
  display: inline;
}
button.page-link {
  display: inline-block;
}
button.page-link {
  color: #29b3ed;
  font-weight: 500;
}

.page-number {
  padding: 0 2px;
}

.page-number.active {
  font-weight: bold;
}

.web3-signup-inner {
  width: 478px;
  margin: 0 auto;
}

.web3-sign-in-btn {
  height: 40px;
  margin-top: 36px;
  margin-left: 15px;
}

@media (max-width: 1100px) {
  #top-movers {
    padding-left: 0;
  }
}
