body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #333;
}

header{
	background: url('/static/images/poolside-bg.jpg') #5FFFE0;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	top: 0;
position: absolute;
width: 100%;
height: 150px;
}

#tokens{
	margin-top: 12rem;
}

#subheader{
	margin-top: -14px;
}

.patrick-hand {
	font-family: 'Patrick Hand', sans-serif;
}
