<header>
  <section class="text-gray-700 body-font">
  <div class="container px-0 mt-9 mx-auto">

    <div class="flex flex-col text-left w-full mb-20 mt-4">
      <!--<h2 class="text-xs text-green-600 tracking-widest font-medium title-font mb-1">Poolside Updates</h2>-->
      <h1  class="text-8xl font-medium title-font mb-0 text-gray-900 patrick-hand"><span class="text-6xl">🍹</span> Poolside</h1>

      <p id="subheader" class="mb-3 leading-relaxed text-base text-5xl pl-2 patrick-hand">🆕 &amp; 🔥 DeFi Tokens</p>

    </div>

</div>
</section>
</header>
