<header>
  <section class="text-gray-700 body-font">
  <div class="container px-0 mt-0 mx-auto">

    <div class="flex flex-col text-left w-full mb-10 mt-10">
      <!--<h2 class="text-xs text-green-600 tracking-widest font-medium title-font mb-1">Poolside Updates</h2>-->
      <h1 class="text-6xl font-medium title-font mb-4 text-green-500 itim"><a href="/"><span class="text-4xl"><i class="fas fa-swimming-pool"></i></span> Poolside</a></h1>

      <p id="subheader" class="mb-3 leading-relaxed text-base text-white text-2xl pl-0 itim">The home for 🆕 & 🔥 DeFi tokens and collectibles</p>

    </div>

</div>
</section>
</header>
