<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Poolside</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Link to your stylesheet here -->
    <link rel="stylesheet" href="/static/css/tailwind.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script type="text/javascript">

    </script>

</head>

<body>
  <h1>Poolside</h1>
  <section>
    {% include "new_listings.html" %}
  </section>
<script type="text/javascript" src="/static/js/index.js"></script>
</body>

</html>
