<div class="flex flex-col">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-white sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-900">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-50 uppercase tracking-wider">
                Token
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-50 uppercase tracking-wider">
                About
              </th>

            </tr>
          </thead>
          <tbody class="bg-gray divide-y divide-gray-200">
            <td class="new-listing-header">
              <div class="new-listing-warning text-white m-3">⚠️ &nbsp; Caution: Some new listings may be scams.
                </div>
              </td>
            <tr v-for="token in displayedNewListings" :key="token.renderKey">
              <td v-bind:data-token="token.keyName" class="name px-8 py-4 text-sm text-gray-100 border-l">
                <div class="token-name-inner">
                ${ token.name }
                <div v-if="token.symbol" class="token-symbol">
                  <button class="bg-gray-600 hover:bg-gray-500 rounded text-white px-2 mt-3 mr-2">
                    <p class="font-semibold text-lg">
                      <a target="_blank"  v-bind:href="'https://twitter.com/search?q=$' + token.formattedSymbol">
                        $${ token.formattedSymbol }
                      </a>
                      </p>
                  </button>
                  </div>
                <div class="token-added text-sm mt-3">added ${ token.addedDate }</div>
                {% include "admin_options.html" %}
                </div>
            </td>
              <td class="volume px-8 py-4 border-r-4 text-sm text-gray-100 text-center">
                <div>${ token.tradeVolume }<br/>${ token.tradeCount } trades</div>

                {% include "token_audit.html" %}

              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>





<nav aria-label="Navigation">
   <ul class="pagination">
     <li class="page-item">
       <button type="button" class="page-link" v-if="newListings.page != 1" @click="newListings.page--"> Prev </button>
     </li>
     <li class="page-item">
       <button type="button" v-bind:class="{ active: pageNumber == newListings.page }" class="page-link page-number" v-for="pageNumber in newListings.pages.slice(0, newListings.page+5)" @click="newListings.page = pageNumber"> ${ pageNumber } </button>
     </li>
     <li class="page-item">
       <button type="button" @click="newListings.page++" v-if="newListings.page < newListings.pages.length" class="page-link"> Next </button>
     </li>
   </ul>
 </nav>
