
<table class="shadow-lg bg-white">
<tr>
  <th class="bg-blue-50 border text-left px-8 py-4 text-sm">Name</th>
  <th class="bg-blue-50 border text-left px-8 py-4 text-sm">Symbol</th>
  <th class="bg-blue-50 border text-left px-8 py-4 text-sm">Volume</th>
  <th class="bg-blue-50 border text-left px-8 py-4 text-sm">Price</th>
</tr>
<tr v-for="token in newListings">
  <td class="border px-8 py-4 text-sm">${ token.name } </td>
  <td class="border px-8 py-4 text-sm">${ token.symbol } </td>
  <td class="border px-8 py-4 text-sm">${ token.tradeVolume }</td>
  <td class="border px-8 py-4 text-sm">$0.0</td>
</tr>
</table>
