<section id="tokens" class="text-gray-700 body-font">
  <div class="container px-5 py-8 mx-auto">

    <div class="flex flex-wrap">


      <div class="flex w-full justify-left items-end ml-4 my-4 ">
        <div class="relative mr-4 lg:w-full xl:w-1/2 w-2/4">
          <input placeholder="Search Tokens" xtype="text" id="address-field" name="hero-field" class="w-full bg-gray-100 rounded border border-gray-300 focus:border-green-600 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <button id="analyze" class="inline-flex text-white bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-700 rounded text-lg">Search</button>
      </div>

      <div class="xl:w-1/2 lg:w-1/2 md:w-full py-6">
        <h2 class="text-2xl sm:text-2xl text-gray-900 font-medium title-font mb-5">🆕 New Listings</h2>
        <div class="divide-y-2 divide-gray-300 divide-solid">
            {% include "new_listings.html" %}
        </div>
      </div>

      <div class="xl:w-1/2 lg:w-1/2 md:w-full py-6">
        <h2 class="text-2xl sm:text-2xl text-gray-900 font-medium title-font mb-5">🔥 Top Movers</h2>
        <div class="divide-y-2 divide-gray-300 divide-solid">
            {% include "top_movers.html" %}
        </div>

      </div>

    </div>

  </div>
</section>
